.botao-geral {
  background-color: #ff910b;
  color: #fff;
  border-radius: 999px;
  padding: 16px 32px;
  display: inline-block;
  border: 2px solid black;
}

.botao-geral:hover {
  color: #fff;
  background: rgb(254, 241, 69);
  background: -moz-linear-gradient(
    -45deg,
    rgba(115, 110, 178, 1) 0%,
    rgba(79, 66, 113, 1) 51%,
    rgba(55, 46, 79, 1) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(115, 110, 178, 1) 0%,
    rgba(79, 66, 113, 1) 51%,
    rgba(55, 46, 79, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(115, 110, 178, 1) 0%,
    rgba(79, 66, 113, 1) 51%,
    rgba(55, 46, 79, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#736eb2', endColorstr='#372e4f', GradientType=1);
}

.button.buttonStyled {
  --margin: 7px;
  --size: 1;
  border: 0px;
  outline-width: 0px;
  background-color: #ff910b;
  color: #fff;
  font-weight: bold;
  border-radius: 999px;
  padding: calc(16px * var(--size)) calc(32px * var(--size));
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: var(--margin);
  font-size: calc(20px * var(--size));
}
.button.buttonStyled:hover {
  background-color: #1e55a7;
}
