




#page_5e5829d5e15b5 { padding:0; }
#Header-gcbmp03pxs { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d60ce49"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d60ce49"] { width:100%;padding:0; }
[name="Container_5e5829d60d027"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d60d027"] { clear:both; }
[id="_5dae1109d76a9_1571688713"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_5dae1109d76a9_1571688713"] { padding-top:15px !important;padding-right:15px !important;padding-bottom:15px !important;padding-left:15px !important; }
 }
#ResponsiveImage-gcbmp03rvi { border:0; }
#ResponsiveImage-gcbmp03rvi { border-style:solid; }
[id="_5839041917_1571688779"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen  and (min-width: 768px){ #menu-_5dae1188b2fee_1571688840  ul.navbar-nav{ width:100%;text-align:center; }
#menu-_5dae1188b2fee_1571688840  ul.navbar-nav > *{ float:none;display:inline-block;vertical-align:middle; }
 }
#menu-_5dae1188b2fee_1571688840  ul.navbar-nav > *{ vertical-align:middle; }
@media  screen and (max-width: 767px){ [id="_5dae1188b2fee_1571688840"]  .menu_item{ width:auto; }
 }
[id="_5dae1188b2fee_1571688840"] { width:100%;margin-bottom:0;border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:0;border-bottom-left-radius:0;border-style:solid; }
nav[id="_5dae1188b2fee_1571688840"] .navbar { clear:both; }
nav[id="_5dae1188b2fee_1571688840"].navbar  .container{ background-image:transparent !important; }
nav[id="_5dae1188b2fee_1571688840"] .dropdown-menu { border:none;background-color:transparent;box-shadow:none; }
nav[id="_5dae1188b2fee_1571688840"] .navbar { position:initial; }
[id="menuitem_5e5829d60d9ff"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5e5829d60dbe4"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5e5829d60ddb2"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5e5829d60df8c"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5e5829d60e16a"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
.menu { id-filho:6055781;id-pai:6055773; }
.menu_item:hover{ id-filho:6055782;id-pai:6055773;color:rgba(0, 108, 153, 1)!important; }
.menu_item.focus{ id-filho:6055783;id-pai:6055773;color:rgba(0, 51, 84, 1)!important; }
.menu  li + li{ id-filho:6055784;id-pai:6055773; }
.menu_item { id-filho:6055785;id-pai:6055773;color:rgba(51, 51, 51, 1)!important;font-size:15px;text-align:center; }
#GridPanel_5e5829d60e818 { padding:0; }
[name="Container_5e5829d60ea01"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d60ea01"] { width:100%;padding:0; }
[name="Container_5e5829d6127b2"] { background:url("../images/banner/fundo-banner-equipe.jpg");background-size:cover;background-position:center center;background-repeat:cover;border:0;border-style:solid; }
[name="Container_5e5829d6127b2"] { width:100%;padding:0; }
[name="Container_5e5829d612adc"] { background:RGBA(0, 0, 0, 0.2);border:0;border-style:solid; }
[name="Container_5e5829d612adc"] { width:100%;padding:0; }
[name="Container_5e5829d612de7"] { background:RGBA(0, 0, 0, 0.4);border:0;border-style:solid; }
[name="Container_5e5829d612de7"] { width:100%;padding:0; }
[name="Container_5e5829d6130ff"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d6130ff"] { padding-top:100px !important;padding-bottom:100px !important; }
@media screen and (min-width: 992px) { [name="Container_5e5829d6130ff"] { padding-top:100px !important;padding-bottom:100px !important; }
 }
[name="Container_5e5829d6130ff"] { clear:both; }
[id="_3765582037_1573592771"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:20px !important;padding-right:20px !important;padding-left:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_3765582037_1573592771"] { padding-top:20px !important;padding-right:20px !important;padding-bottom:20px !important;padding-left:20px !important; }
 }
#text_5e5829d61380a { border:0;border-style:solid; }
[name="Container_5e5829d61490b"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d61490b"] { width:100%;padding:0; }
[name="Container_5e5829d614c20"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d614c20"] { padding-top:100px !important;padding-bottom:100px !important; }
@media screen and (max-width: 767px) { [name="Container_5e5829d614c20"] { padding-top:50px !important;padding-bottom:50px !important; }
 }
@media screen and (min-width: 992px) { [name="Container_5e5829d614c20"] { padding-top:100px !important;padding-bottom:100px !important; }
 }
[name="Container_5e5829d614c20"] { clear:both; }
[id="_5dd2e6f98421a_1574102777"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_3553029225_1574118023"] { background:url("../images/equipe/Equipe-01.jpg");background-position:center bottom;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_3553029225_1574118023"] { padding-top:150px !important; }
 }
[id="_420003129_1574118081"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_2043337339_1574118081"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:60px !important;padding-right:40px !important;padding-left:40px !important;padding-bottom:50px !important; }
@media screen and (min-width: 992px) { [id="_2043337339_1574118081"] { padding-top:60px !important;padding-right:40px !important;padding-bottom:50px !important;padding-left:40px !important; }
 }
#text_5e5829d615be6 { border:0;border-style:solid; }
[id="_1705020881_1574118194"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:50px !important;padding-bottom:50px !important; }
@media screen and (min-width: 992px) { [id="_1705020881_1574118194"] { padding-top:50px !important;padding-bottom:50px !important; }
 }
[id="_8761040027_1574118204"] { background:url("../images/equipe/Equipe-02.jpg");background-position:center center;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_8761040027_1574118204"] { padding-top:150px !important; }
 }
[id="_2445336309_1574118194"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_2471149935_1574118194"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:60px !important;padding-right:40px !important;padding-left:40px !important;padding-bottom:50px !important; }
@media screen and (min-width: 992px) { [id="_2471149935_1574118194"] { padding-top:60px !important;padding-right:40px !important;padding-bottom:50px !important;padding-left:40px !important; }
 }
#text_5e5829d616a8f { border:0;border-style:solid; }
[id="_5069344204_1574118194"] { background:url("../images/equipe/Equipe-02.jpg");background-position:center center;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_5069344204_1574118194"] { padding-top:150px !important; }
 }
[id="_5138729647_1574118321"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_3143023532_1574118321"] { background:url("../images/equipe/Equipe-03.jpg");background-position:center top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_3143023532_1574118321"] { padding-top:150px !important; }
 }
[id="_4026465492_1574118321"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_2026463141_1574118321"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:60px !important;padding-right:40px !important;padding-left:40px !important;padding-bottom:50px !important; }
@media screen and (min-width: 992px) { [id="_2026463141_1574118321"] { padding-top:60px !important;padding-right:40px !important;padding-bottom:50px !important;padding-left:40px !important; }
 }
#text_5e5829d617b9c { border:0;border-style:solid; }
[id="_3142293707_1574118404"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:50px !important;padding-bottom:50px !important; }
@media screen and (min-width: 992px) { [id="_3142293707_1574118404"] { padding-top:50px !important;padding-bottom:50px !important; }
 }
[id="_7902138153_1574118404"] { background:url("../images/equipe/Equipe-04.jpg");background-position:center top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_7902138153_1574118404"] { padding-top:150px !important; }
 }
[id="_456683858_1574118404"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_2181251141_1574118404"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:60px !important;padding-right:40px !important;padding-left:40px !important;padding-bottom:50px !important; }
@media screen and (min-width: 992px) { [id="_2181251141_1574118404"] { padding-top:60px !important;padding-right:40px !important;padding-bottom:50px !important;padding-left:40px !important; }
 }
#text_5e5829d61898b { border:0;border-style:solid; }
[id="_1041015190_1574118404"] { background:url("../images/equipe/Equipe-04.jpg");background-position:center top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_1041015190_1574118404"] { padding-top:150px !important; }
 }
[id="_2537431279_1574118413"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_148267092_1574118413"] { background:url("../images/equipe/Equipe-05.jpg");background-position:center center;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_148267092_1574118413"] { padding-top:150px !important; }
 }
[id="_3723643449_1574118413"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_2378579886_1574118413"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:60px !important;padding-right:40px !important;padding-left:40px !important;padding-bottom:50px !important; }
@media screen and (min-width: 992px) { [id="_2378579886_1574118413"] { padding-top:60px !important;padding-right:40px !important;padding-bottom:50px !important;padding-left:40px !important; }
 }
#text_5e5829d619a3c { border:0;border-style:solid; }
#footer_5e5829d619cd5 { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d619e99"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d619e99"] { width:100%;padding:0; }
[id="_1916279099_1571708623"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-gcbmp04wym { border:0; }
#ResponsiveImage-gcbmp04wym { border-style:solid; }
[id="_7946410284_1571708623"] { background:url("../images/Ativo34x.png");background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important; }
@media screen and (min-width: 992px) { [id="_7946410284_1571708623"] { padding-top:15px !important; }
 }
[name="Container_5e5829d61a927"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d61a927"] { padding-top:100px !important;padding-bottom:100px !important; }
@media screen and (max-width: 767px) { [name="Container_5e5829d61a927"] { padding-top:50px !important;padding-bottom:50px !important; }
 }
@media screen and (min-width: 992px) { [name="Container_5e5829d61a927"] { padding-top:100px !important;padding-bottom:100px !important; }
 }
[name="Container_5e5829d61a927"] { clear:both; }
[id="_5dae5f9381e14_1571708819"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-gcbmp04z14 { border:0; }
#ResponsiveImage-gcbmp04z14 { border-style:solid; }
[id="_5db0edaedf35b_1571876270"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_5db0edaedf35b_1571876270"] { padding-top:20px !important; }
 }
@media screen and (min-width: 768px) and (max-width: 991px) { [id="_5db0edaedf35b_1571876270"] { padding-top:40px !important; }
 }
[id="_2831252156_1571708987"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:20px !important;padding-left:20px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_2831252156_1571708987"] { padding-top:10px !important;padding-right:20px !important;padding-bottom:10px !important;padding-left:20px !important; }
 }
#text_5e5829d61b709 { border:0;border-style:solid; }
[id="_534287207_1571709252"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:20px !important;padding-left:20px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_534287207_1571709252"] { padding-top:10px !important;padding-right:20px !important;padding-bottom:10px !important;padding-left:20px !important; }
 }
#text_5e5829d61bc11 { border:0;border-style:solid; }
[id="_919923947_1571709435"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:20px !important;padding-left:20px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_919923947_1571709435"] { padding-top:10px !important;padding-right:20px !important;padding-bottom:10px !important;padding-left:20px !important; }
 }
#text_5e5829d61c0f8 { border:0;border-style:solid; }
[name="Container_5e5829d61c2ca"] { background:RGBA(0, 51, 84, 1);border:0;border-style:solid; }
[name="Container_5e5829d61c2ca"] { width:100%;padding:0; }
[name="Container_5e5829d61c518"] { background-color:transparent !important;background-size:cover;border:0;border-style:solid; }
[name="Container_5e5829d61c518"] { clear:both; }
#text_5e5829d61c849 { border:0;border-style:solid;padding-top:8px !important;padding-right:5px !important;padding-left:5px !important; }

 .center { float:none;margin-left:auto;margin-right:auto; }