@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 10)); }
  }
  
  .slider {
	background: white;
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
	max-width: 900px;
	padding: 3px;
  }

  
  
  .slider::before,
  .slider::after {
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	content: "";
	height: 100px;
	position: absolute;
	width: 10%;
	z-index: 2;
	pointer-events: none;
  }
  
  .slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
  }
  
  .slider::before {
	left: 0;
	top: 0;
  }
  
  .slide-track {
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(250px * 17);
  }
  
  .slide {
	height: 100px;
	min-width: 250px;
	flex-shrink: 0;
  }
  
  .slide img {
	height: 100%;
	width: 100%;
	object-fit: contain;
  }
  
  @media (max-width: 768px) {
	.slide {
	  min-width: 180px;
	}
  
	.slide-track {
	  width: calc(180px * 17);
	  animation: scroll 40s linear infinite;
	}
  }
  
  @media (max-width: 480px) {
	.slide {
	  min-width: 140px;
	}
  
	.slide-track {
	  width: calc(140px * 17);
	  animation: scroll 40s linear infinite;
	}
  }
  