




#page_5e5829d624927 { padding:0; }
#Header-gcbmp09r6v { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d651ae0"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d651ae0"] { width:100%;padding:0; }
[name="Container_5e5829d651cf4"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d651cf4"] { clear:both; }
[id="_5dae1109d76a9_1571688713"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_5dae1109d76a9_1571688713"] { padding-top:15px !important;padding-right:15px !important;padding-bottom:15px !important;padding-left:15px !important; }
 }
#ResponsiveImage-gcbmp09tee { border:0; }
#ResponsiveImage-gcbmp09tee { border-style:solid; }
[id="_5839041917_1571688779"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen  and (min-width: 768px){ #menu-_5dae1188b2fee_1571688840  ul.navbar-nav{ width:100%;text-align:center; }
#menu-_5dae1188b2fee_1571688840  ul.navbar-nav > *{ float:none;display:inline-block;vertical-align:middle; }
 }
#menu-_5dae1188b2fee_1571688840  ul.navbar-nav > *{ vertical-align:middle; }
@media  screen and (max-width: 767px){ [id="_5dae1188b2fee_1571688840"]  .menu_item{ width:auto; }
 }
[id="_5dae1188b2fee_1571688840"] { width:100%;margin-bottom:0;border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:0;border-bottom-left-radius:0;border-style:solid; }
nav[id="_5dae1188b2fee_1571688840"] .navbar { clear:both; }
nav[id="_5dae1188b2fee_1571688840"].navbar  .container{ background-image:transparent !important; }
nav[id="_5dae1188b2fee_1571688840"] .dropdown-menu { border:none;background-color:transparent;box-shadow:none; }
nav[id="_5dae1188b2fee_1571688840"] .navbar { position:initial; }
[id="menuitem_5e5829d6527ad"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5e5829d6529a8"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5e5829d652b47"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5e5829d652d4a"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5e5829d652f0f"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
.menu { id-filho:6055781;id-pai:6055773; }
.menu_item:hover{ id-filho:6055782;id-pai:6055773;color:rgba(0, 108, 153, 1)!important; }
.menu_item.focus{ id-filho:6055783;id-pai:6055773;color:rgba(0, 51, 84, 1)!important; }
.menu  li + li{ id-filho:6055784;id-pai:6055773; }
.menu_item { id-filho:6055785;id-pai:6055773;color:rgba(51, 51, 51, 1)!important;font-size:15px;text-align:center; }
#GridPanel_5e5829d653740 { padding:0; }
[name="Container_5e5829d653980"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d653980"] { width:100%;padding:0; }
[name="Container_5e5829d656592"] { background:url("../images/banner/fundo-banner-produtos.jpg");background-size:cover;background-position:center bottom;background-repeat:cover;border:0;border-style:solid; }
[name="Container_5e5829d656592"] { width:100%;padding:0; }
[name="Container_5e5829d6567b1"] { background:RGBA(0, 0, 0, 0.2);border:0;border-style:solid; }
[name="Container_5e5829d6567b1"] { width:100%;padding:0; }
[name="Container_5e5829d6569d8"] { background:RGBA(0, 0, 0, 0.4);border:0;border-style:solid; }
[name="Container_5e5829d6569d8"] { width:100%;padding:0; }
[name="Container_5e5829d656bf5"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d656bf5"] { padding-top:100px !important;padding-bottom:100px !important; }
@media screen and (max-width: 767px) { [name="Container_5e5829d656bf5"] { padding-top:50px !important;padding-bottom:50px !important; }
 }
@media screen and (min-width: 992px) { [name="Container_5e5829d656bf5"] { padding-top:100px !important;padding-bottom:100px !important; }
 }
[name="Container_5e5829d656bf5"] { clear:both; }
[id="_879141854_1574129903"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:20px !important;padding-right:20px !important;padding-left:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_879141854_1574129903"] { padding-top:20px !important;padding-right:20px !important;padding-bottom:20px !important;padding-left:20px !important; }
 }
#text_5e5829d657108 { border:0;border-style:solid; }
[name="Container_5e5829d657c88"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d657c88"] { width:100%;padding:0; }
[name="Container_5e5829d657e96"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d657e96"] { padding-top:100px !important;padding-bottom:100px !important; }
@media screen and (max-width: 767px) { [name="Container_5e5829d657e96"] { padding-top:50px !important;padding-bottom:50px !important; }
 }
@media screen and (min-width: 992px) { [name="Container_5e5829d657e96"] { padding-top:100px !important;padding-bottom:100px !important; }
 }
[name="Container_5e5829d657e96"] { clear:both; }
[name="container_5e5829d658305"] { background-color:transparent !important;background-size:cover;border:0;border-style:solid;clear:both; }
[id="_5dd3693288391_1574136114"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_902587901_1574136083"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:50px !important;padding-bottom:25px !important; }
@media screen and (min-width: 992px) { [id="_902587901_1574136083"] { padding-top:50px !important;padding-bottom:25px !important; }
 }
[id="_1358969650_1574136083"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-gcbmp0aec1 { border:0; }
#ResponsiveImage-gcbmp0aec1 { border-style:solid; }
[id="_28225614_1574136083"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_1065502720_1574136083"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-right:40px !important;padding-left:40px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_1065502720_1574136083"] { padding-top:30px !important;padding-right:40px !important;padding-bottom:20px !important;padding-left:40px !important; }
 }
#text_5e5829d659287 { border:0;border-style:solid; }
[id="_7093031317_1574136500"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-bottom:10px !important; }
@media screen and (max-width: 767px) { [id="_7093031317_1574136500"] { padding-top:0px !important;padding-right:0px !important;padding-bottom:10px !important;padding-left:0px !important; }
 }
@media screen and (min-width: 992px) { [id="_7093031317_1574136500"] { padding-top:10px !important;padding-bottom:10px !important; }
 }
#_906684011_1574136500 { border-top-width:2px ;border-right-width:2px ;border-left-width:2px ;border-bottom-width:2px ;border-style:solid;padding-top:15px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:15px !important;margin-bottom:0px;border-color:rgba(55, 46, 79, 1);border-top-right-radius:0px !important;border-bottom-right-radius:0px !important;border-top-left-radius:0px !important;border-bottom-left-radius:0px !important;font-size:14px; }
[id="_55204129_1574136666"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:50px !important;padding-bottom:25px !important; }
@media screen and (max-width: 767px) { [id="_55204129_1574136666"] { padding-top:25px !important; }
 }
@media screen and (min-width: 992px) { [id="_55204129_1574136666"] { padding-top:50px !important;padding-bottom:25px !important; }
 }
[id="_2129500834_1574136666"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-gcbmp0ahof { border:0; }
#ResponsiveImage-gcbmp0ahof { border-style:solid; }
[id="_5255971025_1574136666"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_8359752543_1574136666"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-right:40px !important;padding-left:40px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_8359752543_1574136666"] { padding-top:30px !important;padding-right:40px !important;padding-bottom:20px !important;padding-left:40px !important; }
 }
#text_5e5829d65a305 { border:0;border-style:solid; }
[id="_760641695_1574136666"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-bottom:10px !important; }
@media screen and (max-width: 767px) { [id="_760641695_1574136666"] { padding-top:0px !important;padding-right:0px !important;padding-bottom:10px !important;padding-left:0px !important; }
 }
@media screen and (min-width: 992px) { [id="_760641695_1574136666"] { padding-top:10px !important;padding-bottom:10px !important; }
 }
#_5085802701_1574136666 { border-top-width:2px ;border-right-width:2px ;border-left-width:2px ;border-bottom-width:2px ;border-style:solid;padding-top:15px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:15px !important;margin-bottom:0px;border-color:rgba(55, 46, 79, 1);border-top-right-radius:0px !important;border-bottom-right-radius:0px !important;border-top-left-radius:0px !important;border-bottom-left-radius:0px !important;font-size:14px; }
[id="_3163387831_1574136770"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:50px !important;padding-bottom:25px !important; }
@media screen and (max-width: 767px) { [id="_3163387831_1574136770"] { padding-top:25px !important; }
 }
@media screen and (min-width: 992px) { [id="_3163387831_1574136770"] { padding-top:50px !important;padding-bottom:25px !important; }
 }
[id="_9107535568_1574136770"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-gcbmp0akxj { border:0; }
#ResponsiveImage-gcbmp0akxj { border-style:solid; }
[id="_2274586512_1574136770"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_75310617_1574136770"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-right:40px !important;padding-left:40px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_75310617_1574136770"] { padding-top:30px !important;padding-right:40px !important;padding-bottom:20px !important;padding-left:40px !important; }
 }
#text_5e5829d65b333 { border:0;border-style:solid; }
[id="_764367950_1574136770"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-bottom:10px !important; }
@media screen and (max-width: 767px) { [id="_764367950_1574136770"] { padding-top:0px !important;padding-right:0px !important;padding-bottom:10px !important;padding-left:0px !important; }
 }
@media screen and (min-width: 992px) { [id="_764367950_1574136770"] { padding-top:10px !important;padding-bottom:10px !important; }
 }
#_4031811973_1574136770 { border-top-width:2px ;border-right-width:2px ;border-left-width:2px ;border-bottom-width:2px ;border-style:solid;padding-top:15px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:15px !important;margin-bottom:0px;border-color:rgba(55, 46, 79, 1);border-top-right-radius:0px !important;border-bottom-right-radius:0px !important;border-top-left-radius:0px !important;border-bottom-left-radius:0px !important;font-size:14px; }
[id="_543000408_1574136937"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:50px !important;padding-bottom:25px !important; }
@media screen and (max-width: 767px) { [id="_543000408_1574136937"] { padding-top:25px !important; }
 }
@media screen and (min-width: 992px) { [id="_543000408_1574136937"] { padding-top:50px !important;padding-bottom:25px !important; }
 }
[id="_2547495352_1574136937"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-gcbmp0ao2p { border:0; }
#ResponsiveImage-gcbmp0ao2p { border-style:solid; }
[id="_76093632_1574136937"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_2372879789_1574136937"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-right:40px !important;padding-left:40px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_2372879789_1574136937"] { padding-top:30px !important;padding-right:40px !important;padding-bottom:20px !important;padding-left:40px !important; }
 }
#text_5e5829d65c344 { border:0;border-style:solid; }
[id="_2687013266_1574136937"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-bottom:10px !important; }
@media screen and (max-width: 767px) { [id="_2687013266_1574136937"] { padding-top:0px !important;padding-right:0px !important;padding-bottom:10px !important;padding-left:0px !important; }
 }
@media screen and (min-width: 992px) { [id="_2687013266_1574136937"] { padding-top:10px !important;padding-bottom:10px !important; }
 }
#_4399741439_1574136937 { border-top-width:2px ;border-right-width:2px ;border-left-width:2px ;border-bottom-width:2px ;border-style:solid;padding-top:15px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:15px !important;margin-bottom:0px;border-color:rgba(55, 46, 79, 1);border-top-right-radius:0px !important;border-bottom-right-radius:0px !important;border-top-left-radius:0px !important;border-bottom-left-radius:0px !important;font-size:14px; }
[id="_510892784_1574137098"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:50px !important;padding-bottom:25px !important; }
@media screen and (max-width: 767px) { [id="_510892784_1574137098"] { padding-top:25px !important;padding-bottom:50px !important; }
 }
@media screen and (min-width: 992px) { [id="_510892784_1574137098"] { padding-top:50px !important;padding-bottom:25px !important; }
 }
[id="_7697285365_1574137098"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-gcbmp0aran { border:0; }
#ResponsiveImage-gcbmp0aran { border-style:solid; }
[id="_1053709139_1574137098"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_2395402897_1574137098"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-right:40px !important;padding-left:40px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_2395402897_1574137098"] { padding-top:30px !important;padding-right:40px !important;padding-bottom:20px !important;padding-left:40px !important; }
 }
#text_5e5829d65d3c2 { border:0;border-style:solid; }
[id="_3571576753_1574137098"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-bottom:10px !important; }
@media screen and (max-width: 767px) { [id="_3571576753_1574137098"] { padding-top:0px !important;padding-right:0px !important;padding-bottom:10px !important;padding-left:0px !important; }
 }
@media screen and (min-width: 992px) { [id="_3571576753_1574137098"] { padding-top:10px !important;padding-bottom:10px !important; }
 }
#_103850990_1574137098 { border-top-width:2px ;border-right-width:2px ;border-left-width:2px ;border-bottom-width:2px ;border-style:solid;padding-top:15px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:15px !important;margin-bottom:0px;border-color:rgba(55, 46, 79, 1);border-top-right-radius:0px !important;border-bottom-right-radius:0px !important;border-top-left-radius:0px !important;border-bottom-left-radius:0px !important;font-size:14px; }
[id="_5dd36d5531113_1574137173"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_642810021_1574137198"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:50px !important;padding-bottom:25px !important; }
@media screen and (min-width: 992px) { [id="_642810021_1574137198"] { padding-top:50px !important;padding-bottom:25px !important; }
 }
[id="_8605657325_1574137198"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-gcbmp0av0f { border:0; }
#ResponsiveImage-gcbmp0av0f { border-style:solid; }
[id="_340339720_1574137198"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_6960395649_1574137198"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-right:40px !important;padding-left:40px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_6960395649_1574137198"] { padding-top:30px !important;padding-right:40px !important;padding-bottom:20px !important;padding-left:40px !important; }
 }
#text_5e5829d65e675 { border:0;border-style:solid; }
[id="_274905446_1574137198"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-bottom:10px !important; }
@media screen and (max-width: 767px) { [id="_274905446_1574137198"] { padding-top:0px !important;padding-right:0px !important;padding-bottom:10px !important;padding-left:0px !important; }
 }
@media screen and (min-width: 992px) { [id="_274905446_1574137198"] { padding-top:10px !important;padding-bottom:10px !important; }
 }
#_1129148445_1574137198 { border-top-width:2px ;border-right-width:2px ;border-left-width:2px ;border-bottom-width:2px ;border-style:solid;padding-top:15px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:15px !important;margin-bottom:0px;border-color:rgba(55, 46, 79, 1);border-top-right-radius:0px !important;border-bottom-right-radius:0px !important;border-top-left-radius:0px !important;border-bottom-left-radius:0px !important;font-size:14px; }
[id="_773112376_1574137205"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:50px !important;padding-bottom:25px !important; }
@media screen and (max-width: 767px) { [id="_773112376_1574137205"] { padding-top:25px !important;padding-bottom:50px !important; }
 }
@media screen and (min-width: 992px) { [id="_773112376_1574137205"] { padding-top:50px !important;padding-bottom:25px !important; }
 }
[id="_2568967557_1574137205"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-gcbmp0ayai { border:0; }
#ResponsiveImage-gcbmp0ayai { border-style:solid; }
[id="_3189028755_1574137205"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_3077773412_1574137205"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-right:40px !important;padding-left:40px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_3077773412_1574137205"] { padding-top:30px !important;padding-right:40px !important;padding-bottom:20px !important;padding-left:40px !important; }
 }
#text_5e5829d65f78a { border:0;border-style:solid; }
[id="_4436561007_1574137205"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-bottom:10px !important; }
@media screen and (max-width: 767px) { [id="_4436561007_1574137205"] { padding-top:0px !important;padding-right:0px !important;padding-bottom:10px !important;padding-left:0px !important; }
 }
@media screen and (min-width: 992px) { [id="_4436561007_1574137205"] { padding-top:10px !important;padding-bottom:10px !important; }
 }
#_2348331051_1574137205 { border-top-width:2px ;border-right-width:2px ;border-left-width:2px ;border-bottom-width:2px ;border-style:solid;padding-top:15px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:15px !important;margin-bottom:0px;border-color:rgba(55, 46, 79, 1);border-top-right-radius:0px !important;border-bottom-right-radius:0px !important;border-top-left-radius:0px !important;border-bottom-left-radius:0px !important;font-size:14px; }
[id="_5dd36d7d3cde1_1574137213"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_417905161_1574137243"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:50px !important;padding-bottom:25px !important; }
@media screen and (min-width: 992px) { [id="_417905161_1574137243"] { padding-top:50px !important;padding-bottom:25px !important; }
 }
[id="_3177820907_1574137243"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-gcbmp0b22y { border:0; }
#ResponsiveImage-gcbmp0b22y { border-style:solid; }
[id="_154056667_1574137243"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_1438711642_1574137243"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-right:40px !important;padding-left:40px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_1438711642_1574137243"] { padding-top:30px !important;padding-right:40px !important;padding-bottom:20px !important;padding-left:40px !important; }
 }
#text_5e5829d660a56 { border:0;border-style:solid; }
[id="_267197828_1574137243"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-bottom:10px !important; }
@media screen and (max-width: 767px) { [id="_267197828_1574137243"] { padding-top:0px !important;padding-right:0px !important;padding-bottom:10px !important;padding-left:0px !important; }
 }
@media screen and (min-width: 992px) { [id="_267197828_1574137243"] { padding-top:10px !important;padding-bottom:10px !important; }
 }
#_1224747864_1574137243 { border-top-width:2px ;border-right-width:2px ;border-left-width:2px ;border-bottom-width:2px ;border-style:solid;padding-top:15px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:15px !important;margin-bottom:0px;border-color:rgba(55, 46, 79, 1);border-top-right-radius:0px !important;border-bottom-right-radius:0px !important;border-top-left-radius:0px !important;border-bottom-left-radius:0px !important;font-size:14px; }
[id="_1835234045_1574137246"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:50px !important;padding-bottom:25px !important; }
@media screen and (max-width: 767px) { [id="_1835234045_1574137246"] { padding-top:25px !important;padding-bottom:50px !important; }
 }
@media screen and (min-width: 992px) { [id="_1835234045_1574137246"] { padding-top:50px !important;padding-bottom:25px !important; }
 }
[id="_8521714702_1574137246"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-gcbmp0b5bu { border:0; }
#ResponsiveImage-gcbmp0b5bu { border-style:solid; }
[id="_3162339612_1574137246"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_4024880048_1574137246"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-right:40px !important;padding-left:40px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_4024880048_1574137246"] { padding-top:30px !important;padding-right:40px !important;padding-bottom:20px !important;padding-left:40px !important; }
 }
#text_5e5829d661ab2 { border:0;border-style:solid; }
[id="_1590285979_1574137246"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-bottom:10px !important; }
@media screen and (max-width: 767px) { [id="_1590285979_1574137246"] { padding-top:0px !important;padding-right:0px !important;padding-bottom:10px !important;padding-left:0px !important; }
 }
@media screen and (min-width: 992px) { [id="_1590285979_1574137246"] { padding-top:10px !important;padding-bottom:10px !important; }
 }
#_187969230_1574137246 { border-top-width:2px ;border-right-width:2px ;border-left-width:2px ;border-bottom-width:2px ;border-style:solid;padding-top:15px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:15px !important;margin-bottom:0px;border-color:rgba(55, 46, 79, 1);border-top-right-radius:0px !important;border-bottom-right-radius:0px !important;border-top-left-radius:0px !important;border-bottom-left-radius:0px !important;font-size:14px; }
[id="_6524941792_1574137229"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_8674824706_1574137257"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:50px !important;padding-bottom:25px !important; }
@media screen and (max-width: 767px) { [id="_8674824706_1574137257"] { padding-bottom:50px !important; }
 }
@media screen and (min-width: 992px) { [id="_8674824706_1574137257"] { padding-top:50px !important;padding-bottom:25px !important; }
 }
[id="_4545717176_1574137257"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-gcbmp0b8x3 { border:0; }
#ResponsiveImage-gcbmp0b8x3 { border-style:solid; }
[id="_8361306011_1574137257"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_49084782_1574137257"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-right:40px !important;padding-left:40px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_49084782_1574137257"] { padding-top:30px !important;padding-right:40px !important;padding-bottom:20px !important;padding-left:40px !important; }
 }
#text_5e5829d662cf6 { border:0;border-style:solid; }
[id="_4316427470_1574137257"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-bottom:10px !important; }
@media screen and (max-width: 767px) { [id="_4316427470_1574137257"] { padding-top:0px !important;padding-right:0px !important;padding-bottom:10px !important;padding-left:0px !important; }
 }
@media screen and (min-width: 992px) { [id="_4316427470_1574137257"] { padding-top:10px !important;padding-bottom:10px !important; }
 }
#_1391401251_1574137257 { border-top-width:2px ;border-right-width:2px ;border-left-width:2px ;border-bottom-width:2px ;border-style:solid;padding-top:15px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:15px !important;margin-bottom:0px;border-color:rgba(55, 46, 79, 1);border-top-right-radius:0px !important;border-bottom-right-radius:0px !important;border-top-left-radius:0px !important;border-bottom-left-radius:0px !important;font-size:14px; }
#footer_5e5829d663a28 { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d663b59"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d663b59"] { width:100%;padding:0; }
[id="_1916279099_1571708623"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-gcbmp0bdzx { border:0; }
#ResponsiveImage-gcbmp0bdzx { border-style:solid; }
[id="_7946410284_1571708623"] { background:url("../images/Ativo34x.png");background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important; }
@media screen and (min-width: 992px) { [id="_7946410284_1571708623"] { padding-top:15px !important; }
 }
[name="Container_5e5829d6643f6"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5e5829d6643f6"] { padding-top:100px !important;padding-bottom:100px !important; }
@media screen and (max-width: 767px) { [name="Container_5e5829d6643f6"] { padding-top:50px !important;padding-bottom:50px !important; }
 }
@media screen and (min-width: 992px) { [name="Container_5e5829d6643f6"] { padding-top:100px !important;padding-bottom:100px !important; }
 }
[name="Container_5e5829d6643f6"] { clear:both; }
[id="_5dae5f9381e14_1571708819"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-gcbmp0bfmo { border:0; }
#ResponsiveImage-gcbmp0bfmo { border-style:solid; }
[id="_5db0edaedf35b_1571876270"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_5db0edaedf35b_1571876270"] { padding-top:20px !important; }
 }
@media screen and (min-width: 768px) and (max-width: 991px) { [id="_5db0edaedf35b_1571876270"] { padding-top:40px !important; }
 }
[id="_2831252156_1571708987"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:20px !important;padding-left:20px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_2831252156_1571708987"] { padding-top:10px !important;padding-right:20px !important;padding-bottom:10px !important;padding-left:20px !important; }
 }
#text_5e5829d664e68 { border:0;border-style:solid; }
[id="_534287207_1571709252"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:20px !important;padding-left:20px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_534287207_1571709252"] { padding-top:10px !important;padding-right:20px !important;padding-bottom:10px !important;padding-left:20px !important; }
 }
#text_5e5829d665219 { border:0;border-style:solid; }
[id="_919923947_1571709435"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:20px !important;padding-left:20px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_919923947_1571709435"] { padding-top:10px !important;padding-right:20px !important;padding-bottom:10px !important;padding-left:20px !important; }
 }
#text_5e5829d6655c5 { border:0;border-style:solid; }
[name="Container_5e5829d6656ed"] { background:RGBA(0, 51, 84, 1);border:0;border-style:solid; }
[name="Container_5e5829d6656ed"] { width:100%;padding:0; }
[name="Container_5e5829d6658d2"] { background-color:transparent !important;background-size:cover;border:0;border-style:solid; }
[name="Container_5e5829d6658d2"] { clear:both; }
#text_5e5829d665b6a { border:0;border-style:solid;padding-top:8px !important;padding-right:5px !important;padding-left:5px !important; }

 .center { float:none;margin-left:auto;margin-right:auto; }